html{
  font-size: 62.5%;/* 1 rem */
  box-sizing: border-box;
}

body{
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Candara, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height:100%;
}

/* Loyout */
.grid-container{
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header{
  grid-area: header;
  background-color: #072A40;
}

main{
  grid-area: main;
  padding: 1rem;
}

footer{
  grid-area: footer;
  background-color: #072A40;
  color: #F9F7F0;
}

/* Common */
h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2{
  font-size: 1.6rem;
  padding: 1rem 0;
}

a{
  text-decoration: none;    
}

a:hover{
  color: #18B7BE;
}

button{
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Candara, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  cursor: pointer;
}

button:hover{
  border: 0.1rem #404040 solid;
}

button.primary{
  /* background-color:	#f0c04f; */
  background-color:	#87CEFA;
}

button.block{
  width: 100%;
}

ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li{
  margin-top: 1rem;
}

/* Header */

header a{
  color: #F9F7F0;
  padding: 1rem;
}

a.brand{
  color: #F9F7F0;
  font-size: 3rem;
  font-weight: bold;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center{
  justify-content: center;
}

.row.top{
  align-items: flex-start;
}

.col-1{
  flex: 1 1 25rem;
}
.col-2{
  flex: 2 1 50rem;
}

/* image */
img{
  /* border-radius: 29rem; */
  width:100%;
}

img.medium{
  max-width: 29rem;
  width:100%;
}

img.large{
  width:100%;
}

/* Card */
.card{
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}

.card-body{
  padding: 1rem;
}

.card-body * {
  margin-bottom: 0.5rem;
}

.price{
  font-size: 2rem;
}

/* Rating */
.rating span{
  color: #f0c04f;
  margin: 0.1rem;
}

.rating span:last-child{
  color: #072A40;
}

/* Alert */
.success{
  color: #20A020;
  font-weight: bold;
}

.error{
  color: #A02020;
  font-weight: bold;
}